<!DOCTYPE html translate="no">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
        
        <style>
            body {
                background-color: #F5F5F5;
                font-family: 'Cairo', sans-serif !important;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                padding: 3rem 0 0 0;
                text-align: right;
            }

            .message-container {
                background-color: #fff;
                padding: 2rem;
                border-radius: .25rem;
            }

            .header {
                font-size: 2rem;
                font-weight: lighter;
                color: #000 !important;
            }

            .main-message {
                font-weight: bold;
                color: #495057 !important;
                margin: 3rem 0 0 0;
            }

            .reset-btn-container {
                text-align: center;
                padding: 3rem 0;
            }

            .reset-btn {
                padding: 1rem 2rem;
                color: #FFF !important;
                background-color: dodgerblue;
                border-radius: .1rem;
                text-decoration: none;
            }

            .note, .footer {
                font-weight: bold;
                color: #495057 !important;
            }

        </style>
    </head>
    <body>
        <div class="message-container">
            <span class="header">اهلا {{name}},</span>
            <div class="main-message">
                <p>
                    تم استلام طلب لتغيير كلمة المرور للحساب الخاص بك
                </p>
            </div>
            <div class="reset-btn-container">
                <a href="{{link}}" class="reset-btn">إعادة تعيين كلمة المرور</a>
            </div>
            <div class="note">
                <p>
                    ستنتهي صلاحية هذا الرابط في غضون 24 ساعة. بعد ذلك ، ستحتاج إلى تقديم طلب جديد
                    من أجل إعادة تعيين كلمة المرور الخاصة بك. إذا كنت لا ترغب في إعادة تعيينه ، فما عليك سوى تجاهل هذا البريد الإلكتروني
                </p>
                <p>
                    إذا كنت بحاجة إلى مزيد من المساعدة أو تعتقد أن هذا البريد الإلكتروني قد تم إرساله عن طريق الخطأ ، فلا تتردد في الاتصال بنا
                    (يُرجى عدم الرد على هذه الرسالة ؛ إنها تلقائية)
                </p>
            </div>
            <div class="footer">
                <span>شكرا لك,</span><br />
                <span>The Barbells Team</span>
            </div>
        </div>
    </body>
</html>