<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">

        <style>
            body {
                background-color: #F5F5F5;
                font-family: 'Roboto', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                padding: 3rem 0 0 0;
            }

            .message-container {
                background-color: #fff;
                padding: 2rem;
                border-radius: .25rem;
            }

            .header {
                font-size: 2rem;
                font-weight: lighter;
                color: #000 !important;
            }

            .main-message {
                font-weight: bold;
                color: #495057 !important;
                margin: 3rem 0 0 0;
            }

            .reset-btn-container {
                text-align: center;
                padding: 3rem 0;
            }

            .reset-btn {
                padding: 1rem 2rem;
                color: #FFF !important;
                background-color: dodgerblue;
                border-radius: .1rem;
                text-decoration: none;
            }

            .note, .footer {
                font-weight: bold;
                color: #495057 !important;
            }

        </style>
    </head>
    <body>
        <div class="message-container">
            <span class="header">Hello {{name}},</span>
            <div class="main-message">
                <p>
                    A request has been received to change the password for your Barbells account.
                </p>
            </div>
            <div class="reset-btn-container">
                <a href="{{link}}" class="reset-btn">Reset Password</a>
            </div>
            <div class="note">
                <p>
                    This link will expire in 24 hours. After that, you will need to submit a new request
                    in order to reset your password. If you don't want to reset it, simply disregard this email.
                </p>
                <p>
                    If you need more help or believe this email was sent in error, feel free to contact us.
                    (Please don't reply to this message; it's automated.)
                </p>
            </div>
            <div class="footer">
                <span>Thank You,</span><br />
                <span>The Barbells Team</span>
            </div>
        </div>
    </body>
</html>